@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Poppins:wght@100;200;300;400;500&display=swap');

body{
    font-family: 'Poppins', sans-serif !important;
}

/* Flags */
.eng{
    content: 'bandera'   
}

.nav-link a {
    font-family: 'Poppins', sans-serif !important;
    color: #ffffff;
}

.nav-link a:hover {
    font-family: 'Poppins', sans-serif !important;
    color: #ffffff;
    font-weight: 500;
}